<div class="alert alert-info text-center">
  <h4 class="alert-heading">Thank you for shopping with us!</h4>
  <p>Your order has been processed.</p>
  <p>A detailed email has been sent.</p>
  <hr>
  <a href="/gallery/index" class="btn btn-info">Continue Shopping</a>
</div>
